/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.add-word-form {
  margin-bottom: 20px;
}

.add-word-form input {
  margin: 5px;
  padding: 5px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.word-list {
  margin-top: 20px;
}

.word-card {
  background-color: #c629ff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px auto;
  width: 90%;
  max-width: 300px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.word-card:hover {
  transform: scale(1.05);
}

.word {
  font-size: 24px;
  font-weight: bold;
}

.translation {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .word-card {
    width: 95%;
    padding: 15px;
  }

  .word {
    font-size: 20px;
  }

  .translation {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .word-card {
    width: 100%;
    padding: 10px;
  }

  .word {
    font-size: 18px;
  }

  .translation {
    font-size: 14px;
  }
}

.card-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.card-buttons button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.card-buttons button:first-child {
  background-color: #f44336;
  color: white;
}

.card-buttons button:last-child {
  background-color:  #4caf50;
  color: white;
}